<div class="column">
    <div class="ui card fluid raised link">
<!--        <a class="ui red ribbon label">Overview</a>-->
        <div class="image">
            <img src="https://semantic-ui.com/images/avatar2/large/kristy.png">
        </div>
        <div class="content">
            <a class="header">Robotics Workshop</a>
            <div class="meta">
                <span class="date">May 15, 2020</span>
<!--                <span class="date">Joined in 2013</span>-->
            </div>
            <div class="description">
                Workshop for CS student interested in Robotics
            </div>
        </div>
        <div class="extra content">
            <a>
                <i class="users icon"></i>
                22 attending
            </a>
        </div>
    </div>
</div>


<!--
<div class="ui three column grid">
    <div class="column">
        <div class="ui fluid card">
            <div class="image">
                <img src="/images/avatar/large/daniel.jpg">
            </div>
            <div class="content">
                <a class="header">Daniel Louise</a>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="ui fluid card">
            <div class="image">
                <img src="/images/avatar/large/helen.jpg">
            </div>
            <div class="content">
                <a class="header">Helen Troy</a>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="ui fluid card">
            <div class="image">
                <img src="/images/avatar/large/elliot.jpg">
            </div>
            <div class="content">
                <a class="header">Elliot Fu</a>
            </div>
        </div>
    </div>
</div>-->
