<div class="ui move reveal">
    <div class="visible content" data-pageno="1">
        <img src="https://semantic-ui.com/images/avatar/large/nan.jpg" class="ui small image">
    </div>
    <div class="hidden content" data-pageno="2">
        <img src="https://semantic-ui.com/images/avatar/large/chris.jpg" class="ui small image">
    </div>
    <div class="hidden content" data-pageno="3">
        <img src="https://semantic-ui.com/images/avatar/large/ade.jpg" class="ui small image">
    </div>

</div>