<div class="ui ordered three steps bottom attached mini">
    <div class="step five wide column active">
        <div class="content">
            <div class="title">General Info</div>
            <div class="description">Event category and title</div>
        </div>
    </div>
    <div class="step five wide column">
        <div class="content">
            <div class="title">Location</div>
            <div class="description">Location and capacity</div>
        </div>
    </div>
    <div class="step five wide column">
        <div class="content">
            <div class="title">Additional Info</div>
            <div class="description">Event pictures and ticketing</div>
        </div>
    </div>
</div>