<main class="ui container equal width">
    <div class="ui three top attached steps">
        <div class="step">
            <i class="truck icon"></i>
            <div class="content">
                <div class="title">Shipping</div>
                <div class="description">Choose your shipping options</div>
            </div>
        </div>
        <div class="active step">
            <i class="payment icon"></i>
            <div class="content">
                <div class="title">Billing</div>
                <div class="description">Enter billing information</div>
            </div>
        </div>
        <div class="step">
            <i class="info icon"></i>
            <div class="content">
                <div class="title">Confirm Order</div>
                <div class="description">Verify order details</div>
            </div>
        </div>
    </div>


    <div class="ui attached segment">
        <p></p>


    </div>


    <!--<div class="ui three bottom attached steps">
        <div class="step">
            <i class="truck icon"></i>
            <div class="content">
                <div class="title">Shipping</div>
                <div class="description">Choose your shipping options</div>
            </div>
        </div>
        <div class="active step">
            <i class="payment icon"></i>
            <div class="content">
                <div class="title">Billing</div>
                <div class="description">Enter billing information</div>
            </div>
        </div>
        <div class="step">
            <i class="info icon"></i>
            <div class="content">
                <div class="title">Confirm Order</div>
                <div class="description">Verify order details</div>
            </div>
        </div>
    </div>-->
</main>