* {
  box-sizing: border-box;
}

html,
body {
  font-size: 14pt;
  /* margin: 10px; */
}

html {
  height: 100%;
}

body {
  background: #f7ead4;
  /* font-family: Georgia, Cambria, "Times New Roman", Times, serif; */
  /* background: #f7efe4;
  font-family: 'Courier New', Courier, monospace;
  height: 97%; */
  /* margin: 0; */
}

main {
  background-color: #ffffff;
  max-width: 75%;
  margin: auto;
  min-height: 550px;
  height: 100%;
  padding: 10px;
}

main > h1 {
  width: 80%;
}
.flexdiv {
  display: flex;
  position: relative;
}
.flexdiv a {
  text-decoration: none;
}
.btn_logout {
  position: absolute;
  right: 0;
  /* margin: 10px 0; */
}
.btn_dash {
  position: absolute;
  right: 125px;
  /* margin: 10px 0; */
}
.hidden {
  display: none;
}

a.button {
  background-color: #dfac53; /* Green */
  /* border: none; */
  border: 2px solid #dfac53;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font: inherit;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  position: absolute;
  /* right: 0; */
  margin: 10px 0;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 97%;
  display: inline-block;
  margin: 10px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
  /*border: 1px solid #afafaf;*/
}

a.card_link {
  text-decoration: none;
}

header {
  border-bottom: 0px solid #afafaf;
  max-width: 75%;
  margin: auto;
  background: #fff;
  padding: 10px;
  color: gray;
}
footer {
  /*border-top: 1px solid #afafaf;*/
  max-width: 75%;
  margin: auto;
  background: #fff;
  padding: 10px;
  color: gray;
}
footer > div {
  text-align: right;
}

p {
  color: gray;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #585858;
  margin-bottom: 5px;
}

h1 {
  font-size: 2rem;
  font-style: italic;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.15rem;
}

h6 {
  font-size: 1.05rem;
}

p {
  font-size: 1rem;
  line-height: 2;
}

.post {
  width: 75%;
  border-bottom: 1px dashed #333;
}

.new-post-form {
  max-width: 300px;
}

.new-post-form .full-width-input {
  display: block;
  min-height: 3em;
  margin: 10px 0;
  width: 100%;
}

/* label {
  font-weight: bold;
  color: grey;
  font-size: 20px;
} */

input0 {
  border-radius: 10px;
  height: 30px;
}

/* button {
  border-radius: 10px;
  background-color: #afafaf;
  height: 30px;
  font-size: 20px;
} */

button0 {
  background-color: #4CAF50;
  /* background-color: #008CBA; */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

/* input[type=text] {
  width: 300px;
  box-sizing: border-box;
  border: 2px solid #ccc; */
  /* border-radius: 4px; */
  /* font-size: 16px;
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 15px; 
  background-repeat: no-repeat;
  padding: 19px 20px 17px 40px; */
  /* -webkit-transition: width 0.4s ease-in-out; */
  /* transition: width 0.4s ease-in-out; */
/* } */

/* ::placeholder {
  color: #aba9a9;
} */

/* input[type=text]:focus {
  width: 80%;
} */

button {
  background-color: #dfac53; /* Green */
  /* border: none; */
  border: 2px solid #dfac53;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1:hover {
  background-color: white; 
  color: grey; 
  border: 2px solid #dfac53;
  /* #4CAF50; */
}

.button1 {
  background-color: #dfac53;
  color: white;
}

.error-list li {
  color: #ff0000;
}

.error {
  color: #ff0000;
}

.author-link,
.author-link:link {
  color: #228b22;
}

.author-link:visited {
  font-style: italic;
}

.author-link:hover {
  font-style: normal;
  font-weight: 700;
}

.author-link:active {
  color: #ff0000;
}

.w3-input.select-50 {
  width: 50%;
}

.bill-heading-container > h2 {
  display: inline-block;
}
.pull-right {
  float: right;
}

/*************************************** table css: start ****************************************/
.info_table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  color: gray;
  border-collapse: collapse;
  width: 100%;
}

.info_table td, .info_table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.info_table tr:nth-child(even){background-color: #f2f2f2;}

.info_table tr:hover {background-color: #ddd;}

.info_table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #dfac53;
  color: white;
}

/*************************************** table css: end ****************************************/

.bill_info_table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  color: gray;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid black;
}

.bill_info_table td {
  border: 0;
  border-left: 1px solid black;
  padding: 4px 8px;
}
.bill_info_table td.border_none {
  border: 0;
}

/* .bill_info_table tr:nth-child(even){background-color: #f2f2f2;}

.bill_info_table tr:hover {background-color: #ddd;} */

.bill_info_table th {
  border: 1px solid #ddd;
  padding: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: gray;
  color: white;
}
.bill_info_table .border-bottom-1 {
  border-bottom: 1px solid black;
}

#patient_info_table td {
  vertical-align: baseline;
}

.invoice_table td {
  border: none;
  padding: 0;
}
/* .bill_body {
  background: #ccc;
} */
.bill_body > main {
  padding-top: 0;
}
.bill-heading-container {
  border-bottom: 2px solid gray;
}
table textarea, table select {
  color: gray;
}

span.status-confirmed {
  background-color: #b71c1c;
  color: #fff;
  padding: 0 5px;
  border-radius: 3px;
}
span.status-prescribed, span.status-admitted, span.status-consulted {
  background-color: orange;
  color: #fff;
  padding: 0 5px;
  border-radius: 3px;
}
span.status-completed {
  background-color: green;
  color: #fff;
  padding: 0 5px;
  border-radius: 3px;
}








/***************************************************/
.cc-selector input{
  margin:0;padding:0;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
}

.cc-selector-2 input{
  position:absolute;
  z-index:999;
}

.visa{background-image:url(http://i.imgur.com/lXzJ1eB.png);}
.mastercard{background-image:url(http://i.imgur.com/SJbRQF7.png);}

.cc-selector-2 input:active +.drinkcard-cc, .cc-selector input:active +.drinkcard-cc{opacity: .9;}
.cc-selector-2 input:checked +.drinkcard-cc, .cc-selector input:checked +.drinkcard-cc{
  -webkit-filter: none;
  -moz-filter: none;
  filter: none;
}
.drinkcard-cc{
  cursor:pointer;
  background-size:contain;
  background-repeat:no-repeat;
  display:inline-block;
  width:100px;height:70px;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
  -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
  -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
  filter: brightness(1.8) grayscale(1) opacity(.7);
}
.drinkcard-cc:hover{
  -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
  -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
  filter: brightness(1.2) grayscale(.5) opacity(.9);
}

/* Extras */
a:visited{color:#888}
a{color:#444;text-decoration:none;}
p{margin-bottom:.3em;}
/** { font-family:monospace; }*/
.cc-selector-2 input{ margin: 5px 0 0 12px; }
.cc-selector-2 label{ margin-left: 7px; }
span.cc{ color:#6d84b4 }


.ui.grid.padding0 > * {
  padding: 0;
}
.ui.grid.padding0>.column:not(.row) {
  padding-left: 0;
  padding-right: 0;
}


.image-container {
  margin-top: 40px;
  position: relative;
  width: 100%;
  background-color: #808080;
  margin-left: 20px;
  margin-right: 20px;
  border-style: ridge;
}
.card-img-top {
  height: auto;
}
.card-body a {
  padding: 0;
}
.row {
  clear: both;
}
.col-md-4 {
  float: left;
  width: 200px;
}

.image-details {
  opacity: 0.5;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.inset {
  background-color:black;
  color: white;
  font-size: 16px;
  padding: 16px 162px;
  border: black;
  margin-top: 20px;

}
 .title {
  color: black;
  font-size: 30px;
  font-family: graduate;

}
.image-container:hover .image-details {
  opacity: 0.2;
}


.middle .date {
  color: black;
  font-size: 18px;
  font-weight: 700;

}
.middle .place {
  color: black;
  font-size: 18px;
  margin-top: 10px;

  font-style: italic;
  font-weight: 700;


}

.middle .cost {
  margin-top: 10px;
  color: black;
  font-size: 18px;
  font-weight: 500;

}



.middle {

  text-align: center;
  top: 66%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.details-container {
  position: relative;
  width: 100%;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 40px;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  margin-bottom: 40px;
  text-align: center;
  border-style: ridge;
}

#map {
  width: 100%;
  height: 400px;
  margin-left: 20px;
  margin-right: 20px;
    border-style: ridge;
  background-color: grey;
  margin-bottom: 150px;
}
#payment {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
#registration {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.paymethodfieldset{
  padding: 100px;
}
#submitPayment, #submitRegistration{
  background-color:black;
  color: white;
  font-size: 16px;
  padding-left:50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: absolute;
  top: 80%;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);

}
.btn {
  padding: .275rem .75rem;
  margin: .275rem;
}

.navbar a:visited{color:white}

input[name="search"]:focus {
  width: 330px;
  background-color: #fff;
  border-color: #66CC75;

  -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
  -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
  box-shadow: 0 0 5px rgba(109,207,246,.5);
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out !important;
}
input[name="search"] {
  /*background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;*/
  border: solid 1px #ccc;
  padding: 9px 10px 9px 32px;
  width: 55px;

  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;
#loading {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  opacity: 0.7;
  background-color: #fff;
  z-index: 99;
  text-align: center;
}

#loading-image {
  position: absolute;
  top: 50%;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: 100;
}

  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}
input[name="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none;
}